:root {
    --dark-colour: #48343d;
    --light-color: #efeada;
}
#bar {
    width: 30rem;
    margin: 2rem;
    border-bottom: 1px solid #9c9497;
}
nav{
    margin: 2rem;
    border-bottom: 1px solid grey;
    height: 2.25rem;
    width: auto;
    padding: 0 1rem 0 1rem;
}
nav a.active {
    background-color: var(--dark-colour);
    color: var(--light-color);
    font-style: italic;
}
nav a:hover {
    color: orangered
}

nav a {
    text-decoration: none;
    margin: 1px;
    padding: 0.7rem 1.2rem 0.7rem 1.2rem;
    border: 1px solid grey;
    border-bottom: none;
    border-radius: 0.5rem 0.5rem 0 0 ;
    color: var(--dark-colour)
}

.carousel {
    background-color: aqua;
    overflow: hidden;
    width: 80%;
}
.carousel-items {
    height: 30rem;
    min-width: 100%;
    width: 100%;
    display: inline-flex;
    align-items: center;
    background-color: yellow;
    
}
.internal-organ {
    white-space: nowrap;
    transition: transform 0.3s;
}
.indicator {
    display: flex;
    justify-content: center;
}
.indicator > button {
    margin: 0.5rem
}